:root {
    --fast: .3s;
    --medium: .5s;
    --slow: .9s;

    --layout-gap: .9rem;
    --layout-gaps: 1rem;

    --header-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    --footer-gap: 1rem;
    --footer-shadow:  0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --footer-line: 1px solid lightgrey;
    --footer-link-gap: .5rem;
    --marker-line-color: black;

    --link-color: blue;

    --btn-background: grey;
    --btn-round: .3rem;
    --btn-gaps: .5rem;

    --article-gap: .8rem;
    --article-gaps-content: .4rem;
    --article-border: 1px solid black;
    --article-round: .5rem;
    

    --article-gap-ladder: 2rem;
}