extends ../layouts/default

block variablse
    -
        let title = "Главная"
        // Подготовка json даты для страницы
        let data = index
        
        // Данные для шапки
        let headerItems = [
            {
                text: "Статьи",
                href: "./articles.html"
            },
            {
                text: "Временная линия",
                href: "./timeLine.html"
            },
        ]
        let footerItems = data.blockArticles

block main
    h2.title-center=data.mainTitle
    .articles-block
        each article in data.blockArticles
            .article
                .article-img
                    +img(article.img)(width=200)
                a(href=article.href)=article.text
                a.article-link-root(href=data.article) Источник