extends ../layouts/default

block variablse
    -
        let title = "Главная"
        // Подготовка json даты для страницы
        let data = timeline
        
        // Данные для шапки
        let headerItems = [
            {
                text: "Статьи",
                href: "./articles.html"
            },
            {
                text: "Временная линия",
                href: "./timeLine.html"
            },
        ]
        let footerItems = index.blockArticles

block main
    .block-timeline
        .marker-container
            each marker in data.blockMarkers
                .marker(style={ width: 100 /data.blockMarkers.length + "%"  })
                    a.marker-link(href=marker.href)=marker.text
                        
        hr.timeline
    