
- let data = locals
mixin page(title="Статья", footerItem, text="Текст был не вставлен проверьте text в json'e статьи", img="Изображения нет, проверьте img в json'e")
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            // Ссылка на собранный assets
            link(rel="stylesheet", href="./assets/css/main.css")
            title=title
        body
            .wrapper
                header
                    .header-logo
                        //- img(src="./assets/img/"+img, alt=img)
                    .header-items
                    each item in data.header
                        a.button.button-link(href=item.href)
                            =item.text
                    button.button.header-settings-btn
                        i.bi.bi-list
                main.main-content
                    img.img-acticle(src="./assets/img/"+img, alt=img)
                    h3=title
                    p=text
                footer.footer
                    p Источник статьи
                    .footer-links
                        a.footer-link(href=footerItem.hrefRoot)=footerItem.textRoot

+page(data.title, data.root, data.text, data.img)
