mixin header-logo(url)
    .header-logo
        +img(url)

mixin header(url)
    header
        +header-logo(url)
        .header-items
            block
        button.button.header-settings-btn
            i.bi.bi-list