.article {
    display: inline-flex;
    flex-direction: column;

    margin: var(--article-gap);
    padding: var(--article-gap);
    border: var(--article-border);
    border-radius: var(--article-round);
    gap: var(--article-gaps-content);
}

.articles-block {
    display: flex;
}

.articles-block > .article:nth-child(even) {
    margin-top: var(--article-gap-ladder);
}
.articles-block > .article:nth-child(odd) {
    margin-bottom: var( --article-gap-ladder);
}


.article-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-link-root {
    text-align: end;
}