button {
    border: 0;
}
.button {
    padding: var(--btn-gaps);
    margin: var(--btn-gaps);
    background-color: var(--btn-background);
    border-radius: var(--btn-round);
    transition-property: all;
    transition-duration: var(--fast);
}

.header-settings-btn {
    color: white;
}

.button-link {
    --btn-link-text-color: white;

    text-decoration: none;
    color: var(--btn-link-text-color);
    background-color: var(--btn-background);
    border-radius: var(--btn-round);
    transition-property: all;
    transition-duration: var(--fast);
}

.button-link:hover {
    text-decoration: underline;
}