.timeline {
    width: 100%;

}
.block-timeline {
    width: 50%;
}

.marker {
    text-align: center;
    display: inline;
}
.marker-line {
    content: "|";
    display: inline;
}
.marker-link {
    display: inline;
    position: relative;
}
.marker-link::after {
    content: "|";
    display: inline;
    position: absolute;
    color: var(--marker-line-color);
    top: 100%;
    left: 50%;
}

.marker-container {
    width: 100%;
    display: inline-flex;
}
.marker-container > .marker:first-child {
    text-align: start !important;
}
.marker-container > .marker:last-child {
    text-align: end;
}