include ../mixin/icon
include ../mixin/components

block mixins

block variablse
    // page variablse 
    -
        let title = ""
        let urlHeaderLogo = ""
        let headerItems = []
        let footerItems = []
doctype html
html(lang="en")
    head
        block meta
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Ссылка на собранный assets
        link(rel="stylesheet", href="./assets/css/main.css")
        block style
        title=title
        block script-head
    body
        .wrapper
            +header(urlHeaderLogo)
                each item in headerItems
                    +button-link(item.href)
                        =item.text
            main.main-content
                block main
            +footer(footerItems)
                p Источники на странице

    block script