.footer {
    padding: var(--footer-gap);
    border-top: var(--footer-line);
}
.footer-links {
    display: flex;
    gap: var(--footer-link-gap);

}
.footer-link {
    text-decoration: none;
    color: var(--link-color);
    transition: all var(--slow);
}
.footer-link:hover {
    text-decoration: underline;
}