header {
    display: flex;
    flex-direction: row;
    box-shadow: var(--header-shadow);
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
}