.main-content {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: var(--layout-gaps);
    margin-right: var(--layout-gaps);
}